[flash]
size is 1M
region at 0x000000 is [boot firmware]
region at 0x001000 is [control sector]
region at 0x003000 is [pll table]
region at 0x003400 is [gain table]
region at 0x004000 is [root certificates]
region at 0x005000 is [tls certificates]
region at 0x007000 is [http files]
region at 0x009000 is [connection parameters]
region at 0x00A000 is [downloader firmware]
region             is [wifi firmware]
region at 0x045000 is [ate firmware]

[aio]
size is 512K
region at 0x000000 is [boot firmware]
region at 0x001000 is [control sector]
region at 0x003000 is [pll table]
region at 0x003400 is [gain table]
region at 0x004000 is [root certificates]
region at 0x005000 is [tls certificates]
region at 0x007000 is [http files]
region at 0x009000 is [connection parameters]
region at 0x00A000 is [downloader firmware]
region             is [wifi firmware]
region at 0x045000 is [ate firmware]

[ota]
size is 236K
region is [downloader firmware]
region is [wifi firmware]

[boot firmware]
type is firmware
schema is 1
file is boot_firmware/release3A0/boot_firmware.bin
header is present
prefix is NMIS

[control sector]
type is control
schema is 1
version is 1
flash map is 4
image1 at 0x00A000 is [wifi firmware]
image2 at 0x045000

[backup sector]
type is reserved

[pll table]
type is pll table
schema is 1
frequency offset is 0

[gain table]
type is gain table
schema is 1
table is [gain table 1]

[gain table 1]
wifi gain at 1 is -10,-9,-9,-9,-9,-9,-9,-9,-9,-9,-10,-9
wifi gain at 2 is -10,-9,-9,-9,-9,-9,-9,-9,-9,-9,-10,-9
wifi gain at 5.5 is -10,-9,-9,-9,-9,-9,-9,-9,-9,-9,-10,-9
wifi gain at 11 is -10,-9,-9,-9,-9,-9,-9,-9,-9,-9,-10,-9
wifi gain at 6 is -11,-7,-7,-7,-7,-7,-7,-7,-7,-7,-9,-7
wifi gain at 9 is -11,-7,-7,-7,-7,-7,-7,-7,-7,-7,-9,-7
wifi gain at 12 is -11,-7,-7,-7,-7,-7,-7,-7,-7,-7,-9,-7
wifi gain at 18 is -11,-7,-7,-7,-7,-7,-7,-7,-7,-7,-9,-7
wifi gain at 24 is -11,-7,-7,-7,-7,-7,-7,-7,-7,-7,-9,-7
wifi gain at 36 is -11,-7,-7,-7,-7,-7,-7,-7,-7,-7,-9,-7
wifi gain at 48 is -11,-8
wifi gain at 54 is -11,-9,-9,-9,-8,-8,-8,-8,-8,-8,-9,-8
wifi gain at mcs0 is -12,-7,-7,-7,-7,-7,-7,-7,-7,-7,-10,-7
wifi gain at mcs1 is -12,-7,-7,-7,-7,-7,-7,-7,-7,-7,-10,-7
wifi gain at mcs2 is -12,-7,-7,-7,-7,-7,-7,-7,-7,-7,-10,-7
wifi gain at mcs3 is -12,-7,-7,-7,-7,-7,-7,-7,-7,-7,-10,-7
wifi gain at mcs4 is -12,-7,-7,-7,-7,-7,-7,-7,-7,-7,-10,-7
wifi gain at mcs5 is -12,-8,-8,-7,-7,-7,-7,-7,-7,-7,-10,-7
wifi gain at mcs6 is -12,-9,-8,-8,-8,-8,-8,-8,-8,-8,-10,-8
wifi gain at mcs7 is -12,-10,-9,-9,-9,-9,-9,-9,-9,-9,-10,-9

[root certificates]
type is root certificates
schema is 1
file is Tools/root_certificate_downloader/binary/BaltimoreCyberTrustRoot.cer
file is Tools/root_certificate_downloader/binary/DigiCert.cer
file is Tools/root_certificate_downloader/binary/DigiCertSHA2.cer
file is Tools/root_certificate_downloader/binary/EnTrust.cer
file is Tools/root_certificate_downloader/binary/GeoTrust.cer
file is Tools/root_certificate_downloader/binary/GlobalSignRoot.cer
file is Tools/root_certificate_downloader/binary/NMA_Root.cer
file is Tools/root_certificate_downloader/binary/PROWL_Root.cer
file is Tools/root_certificate_downloader/binary/QuoVadis_Root.cer
file is Tools/root_certificate_downloader/binary/VeriSign.cer

#Set RSA certificate and key.
#[rsa chain]
#type is tls certificate chain
#cert is tls_cert_store/winc_rsa.cer
#key is tls_cert_store/winc_rsa.key

#Set ECDSA certificate (key is held externally).
#[ecdsa chain]
#type is tls certificate chain
#cert is tls_cert_store/winc_ecdsa.cer

#Set local RSA and/or ECDSA certificates.
#[tls certificates]
#type is tls certificates
#schema is 3
#chain is [rsa chain]
#chain is [ecdsa chain]

#By default, no local certificates.
[tls certificates]
type is reserved

[connection parameters]
type is reserved

[downloader firmware]
type is firmware
schema is 1
file is downloader_firmware/release3A0/downloader_firmware.bin
prefix is NMIS

[wifi firmware]
type is firmware
schema is 1
file is firmware/wifi_v111/ASIC_3A0/wifi_firmware.bin
prefix is NMID

[http files]
type is http files
schema is 2
filename length is 32
file is provisioning_webpage/default.html
file is provisioning_webpage/style.css
file is provisioning_webpage/favicon.ico
file is provisioning_webpage/logo.png
file is provisioning_webpage/error.json
file is provisioning_webpage/scanresults.json
file is provisioning_webpage/ok.json

[ate firmware]
type is firmware
schema is 4
file is ate_firmware/burst_tx_firmware_winc1500.bin
prefix is FTMA