awscli
cryptoauthlib
cryptography
ipywidgets
pyasn1-modules
asn1crypto
pytz
python-jose
pyOpenSSL
boto3
requests-aws4auth
hexrec
hidapi
google-cloud-pubsub
google-cloud-iot
azure-cli
azure-cli-extension
