menu "LVGL TFT Display controller"

    config LV_DISPLAY_WIDTH
        int "TFT display width in pixels." 
        default 320

    config LV_DISPLAY_HEIGHT
        int "TFT display height in pixels." 
        default 240
    
    config LV_TFT_DISPLAY_CONTROLLER_ILI9341
        int "TFT Types" 
        default 1
endmenu
