[gain table]
type is gain table
schema is 1
table is [gain table 1]

[gain table 1]
wifi gain at 1 is -10,-9,-9,-9,-9,-9,-9,-9,-9,-9,-10,-9
wifi gain at 2 is -10,-9,-9,-9,-9,-9,-9,-9,-9,-9,-10,-9
wifi gain at 5.5 is -10,-9,-9,-9,-9,-9,-9,-9,-9,-9,-10,-9
wifi gain at 11 is -10,-9,-9,-9,-9,-9,-9,-9,-9,-9,-10,-9
wifi gain at 6 is -11,-7,-7,-7,-7,-7,-7,-7,-7,-7,-9,-7
wifi gain at 9 is -11,-7,-7,-7,-7,-7,-7,-7,-7,-7,-9,-7
wifi gain at 12 is -11,-7,-7,-7,-7,-7,-7,-7,-7,-7,-9,-7
wifi gain at 18 is -11,-7,-7,-7,-7,-7,-7,-7,-7,-7,-9,-7
wifi gain at 24 is -11,-7,-7,-7,-7,-7,-7,-7,-7,-7,-9,-7
wifi gain at 36 is -11,-7,-7,-7,-7,-7,-7,-7,-7,-7,-9,-7
wifi gain at 48 is -11,-8
wifi gain at 54 is -11,-9,-9,-9,-8,-8,-8,-8,-8,-8,-9,-8
wifi gain at mcs0 is -12,-7,-7,-7,-7,-7,-7,-7,-7,-7,-10,-7
wifi gain at mcs1 is -12,-7,-7,-7,-7,-7,-7,-7,-7,-7,-10,-7
wifi gain at mcs2 is -12,-7,-7,-7,-7,-7,-7,-7,-7,-7,-10,-7
wifi gain at mcs3 is -12,-7,-7,-7,-7,-7,-7,-7,-7,-7,-10,-7
wifi gain at mcs4 is -12,-7,-7,-7,-7,-7,-7,-7,-7,-7,-10,-7
wifi gain at mcs5 is -12,-8,-8,-7,-7,-7,-7,-7,-7,-7,-10,-7
wifi gain at mcs6 is -12,-9,-8,-8,-8,-8,-8,-8,-8,-8,-10,-8
wifi gain at mcs7 is -12,-10,-9,-9,-9,-9,-9,-9,-9,-9,-10,-9